# OAuth2 Configuration
OAUTH2_CLIENT_ID=your-oauth2-client-id
OAUTH2_CLIENT_SECRET=your-oauth2-client-secret
OAUTH2_AUTH_URL=https://your-auth-url/oauth2/authorize/
OAUTH2_TOKEN_URL=https://your-auth-url/oauth2/token/
OAUTH2_USERINFO_URL=https://your-auth-url/oauth2/userinfo/
OAUTH2_REDIRECT_URL=http://your-app-url/callback
OAUTH2_LOGOUT_URL=https://your-auth-url/oauth2/logout/
OAUTH2_SCOPES=email, openid, profile
OAUTH2_USER_IDENTIFIER=email

# Database Configuration
DB_TYPE=sqlx
DB_USER=your-database-username
DB_PASSWORD=your-database-password
DB_HOST=your-database-host
DB_PORT=your-database-port
DB_NAME=your-database-name

# Session Key Pairs Directory
SESSION_AUTH_KEY=your-hex-encoded-auth-key
SESSION_ENC_KEY=your-hex-encoded-enc-key
WEAK_SESSION_STRING="MAKE IT BIG MAKE IT STRONG IT SAYS WEAK BUT THIS IS A FALLBACK"
SESSION_EXPIRATION_SECONDS=6000
TOKEN_EXPIRATION_TIME_SECONDS=2600