package templates

templ ContentViewLayout(dynamicContent templ.Component, dynamicData templ.Component) {
    <div id="view-layout">
        <div id="dynamic-content" class="dynamic-window">
            @dynamicContent
        </div>
        <div id="dynamic-data" class="dynamic-window">
            @dynamicData
        </div>
    </div>
}
