package templates

templ ServerCard(serverID, name, serverType string) {
	<div class="feed-item" hx-get="/view?view=server&id={serverID}" hx-target="#dynamic-viewport" hx-swap="innerHTML">
		<div class="thumbnail">
			<img src="/static/server-thumbnail.jpg" alt="Server Thumbnail">
		</div>
		<div class="event-details">
			<div class="event-source">
				{name}
			</div>
		</div>
	</div>
}
