package templates

templ Settings() {
	<div class="settings-container">
		<h2>Settings</h2>
		<form id="theme-form">
			<div>
				<label for="theme">Select Theme:</label>
				<select id="theme" name="theme">
					<option value="light">Light</option>
					<option value="dark">Dark</option>
				</select>
			</div>
			<button type="button" hx-get="/change-theme" hx-target="body" hx-swap="outerHTML" hx-include="#theme-form">Change Theme</button>
		</form>
	</div>
}
