package templates

templ Sidebar() {
    <div class="sidebar">
        <ul>
            <li><a href="/" hx-get="/view?view=servers" hx-target="#content" hx-swap="innerHTML">Servers</a></li>
            <li><a href="/" hx-get="/view?view=events" hx-target="#content" hx-swap="innerHTML">Events</a></li>
            <li><a href="/" hx-get="/view?view=settings" hx-target="#content" hx-swap="innerHTML">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
}
