package templates

templ TestLayout(header, footer, sidebar, content templ.Component, theme string) {
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href={"/static/styles-" + theme + ".css"}>
        <script src="https://unpkg.com/htmx.org@1.5.0"></script>
        <script>
            document.body.addEventListener('htmx:responseError', function(event) {
                if (event.detail.xhr.status === 401) {
                    window.location.href = '/login';
                }
            });
        </script>
    </head>
    <body>
        <div id="layout">
            <div id="header">
                @header
            </div>
            <div class="container">
                <div class="sidebar">
                    @sidebar
                </div>
                <div id="content">
                    @content
                </div>
            </div>
            <div id="footer">
                @footer
            </div>
        </div>
    </body>
    </html>
}
