package templates

templ VideoEvent(event Event) {
	<div class="event-container">
		<h2>{event.Source}</h2>
		<video controls>
			<source src="{event.URL}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<p>{event.Description}</p>
	</div>
}
